<a href="https://colab.research.google.com/github/blessondensil294/HR-Analytics-Promotion/blob/master/HR_Analytics_to_Predict_Promotion.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>


#                             **HR ANALYTICS**

HR analytics is revolutionising the way human resources departments operate, leading to higher efficiency and better results overall. Human resources has been using analytics for years. However, the collection, processing and analysis of data has been largely manual, and given the nature of human resources dynamics and HR KPIs, the approach has been constraining HR. Therefore, it is surprising that HR departments woke up to the utility of machine learning so late in the game. Here is an opportunity to try predictive analytics in identifying the employees most likely to get promoted.

### Load the Data

From Local PC

In [0]:
import numpy as np
import pandas as pd

In [6]:
from google.colab import files
uploaded = files.upload()

Saving HR Test Data.csv to HR Test Data.csv
Saving HR Train Data.csv to HR Train Data (1).csv

In [0]:
import io
df_Train = pd.read_csv(io.BytesIO(uploaded['HR Train Data.csv']))
df_Test = pd.read_csv(io.BytesIO(uploaded['HR Test Data.csv']))

In [10]:
df_Train.head()

   employee_id         department  ... avg_training_score is_promoted
0        65438  Sales & Marketing  ...                 49           0
1        65141         Operations  ...                 60           0
2         7513  Sales & Marketing  ...                 50           0
3         2542  Sales & Marketing  ...                 50           0
4        48945         Technology  ...                 73           0

[5 rows x 14 columns]